@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
}

.container {
  margin-top: 60px;
}
.welcome {
  font-size: 400%;
}

.rowForm {
  margin-bottom: 1em;
}

.formContainer {
  width: 60%;
}

.side-bar {
	margin-top: 10vh;
}

.srcInput {
  margin-bottom: 10vh;
}

.newsContent {
  max-height: 80vh;
  overflow: scroll;
}

.preview {
  max-height: 10vh;
  overflow: hidden;
}

.navbar-text {
  font-size: 100%;
}

.dropText {
  font-size: 100%;
  border: 0.1em dashed grey;
  border-radius: 50%;
  width: 124px;
  height: 124px;
  margin: auto;
}

.dropImg {
  border: 0.1em dashed grey;
  border-radius: 50%;
}

.drop-box {
  background: #F8F8F8;
  border: 2px solid grey;
  border-radius: 5%;
  text-align: center;
}

.dragover {
    border: 0.1em dashed black;
    opacity: 0.4;
}