@media (max-width: 767px) {
    .navbar-text {
        margin-left: 15px;
    }
    .dropImg {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin: auto;
        box-shadow: 8px 8px 8px grey;
    }
    .thumbnail img.img-responsive {
        max-width: 290px;
    }
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }
    .dropImg {
        border-radius: 50%;
        width: 140px;
        height: 140px;
        margin: auto;
        box-shadow: 8px 8px 8px grey;
    }
}

body {
    background: url(../img/blur.jpg) center center no-repeat fixed;
    height: 100vh;
    width: 100%;
}

.navbar {
    box-shadow: 4px 4px 6px grey;
    margin: 0;
}

.navbar-text {
    font-size: 100%;
}

.page-header.secondaire  {
    margin-top: 0;
}

.alert {
    margin-bottom: 0;
}

.ng-toast__message.alert.alert-dismissible {
    padding: 0;
}

.srchContainer {
    margin-top: 6vh;
    margin-bottom: 2vh;
}

.searchInput {
    width: 80%;
}

.newsFeedContainer {
    max-height: 90vh;
    overflow: hidden;
}

.newsContent {
    max-height: 75vh;
    overflow: scroll;
}

.jumbotron p.contentFullView {
    font-size: 100%;
}

p.lead.contentMinView {
    font-size: 100%;
}

.authorImg {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 4px 4px 6px grey;
}

.authorNames {
    margin-top: 2em;
}

.authorNames p.lead {
    margin: 0;
}

.usernameUpdate {
    margin: 1.5em auto 1em auto;
    width: 50%;
}

.deleteButton {
    margin-top: 1em;
}

.rowForm {
    margin-bottom: 1em;
}

.side-bar {
    margin-top: 10vh;
}

.dropzone.lead {
    border: 1px solid grey;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin: auto;
    font-size: 120%;
    padding-top: 3.5em;
}

.dragover {
    opacity: 0.4;
}

.has-feedback .form-control-feedback {
    top: 0px;
    z-index: 2;
}

.validationError {
    color: red;
    display: block;
}