@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
}

.cat {
  cursor: pointer;
}
.panel {
  margin-top: 10em;
}

.rowForm {
  margin-bottom: 1em;
}

.side-bar {
	margin-top: 10vh;
}

.srcInput {
  margin-bottom: 10vh;
}

.newsContent {
  max-height: 80vh;
  overflow: scroll;
}

.preview {
  max-height: 10vh;
  overflow: hidden;
}

.navbar-text {
  font-size: 100%;
}

.infoUser {
  padding-top: 4em;
}

.dropText {
  height: 200px;
}
.panel.panel-default {
  margin-top: 5em;
}
.dropText p.lead.imgArticle {
  border: 0.1em dashed grey;
  border-radius: 20%;
  width: 200px;
  height: 200px;
  margin: auto;
  font-size: 120%;
  padding-top: 4.5em;
}

.dropImg.imgArticle {
  border: 0.1em dashed grey;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: auto;
}


.dropText p.lead {
  border: 0.1em dashed grey;
  border-radius: 20%;
  width: 140px;
  height: 140px;
  margin: auto;
  font-size: 120%;
  padding-top: 4.5em;
}

.dropImg {
  border: 0.1em dashed grey;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  margin: auto;
}

.dropImgAdmin {
  border: 0.1em dashed grey;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: auto;
}

.dragover {
    border: 0.1em dashed black;
    opacity: 0.4;
}

.has-feedback .form-control-feedback {
  top:0px;
  z-index: 2;
}