<div class="container" ng-init="display()" ng-controller="NewsCtrl as news">

	<div class="row">
		
		<div class="col-md-3 side-bar">
			
			<div class="col-md-12 srcInput">
				<div class="input-group">
					<input type="search" class="form-control" placeholder="Looking for a news ?">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</button>
					</span>
				</div><!-- /input-group -->
			</div><!-- class col-md-12 -->
			
			<div class="col-md-12">
				<ul class="nav nav-pills well nav-stacked" role="navigation">
					<li role="presentation" ng-class="{active: categorie === '0'}"><a class="cat" href="#/client/0"> All </a></li>
					<li role="presentation" ng-class="{active: categorie === '1'}"><a class="cat" href="#/client/1"> Politics </a></li>
					<li role="presentation" ng-class="{active: categorie === '2'}"><a class="cat" href="#/client/2"> Finance </a></li>
					<li role="presentation" ng-class="{active: categorie === '3'}"><a class="cat" href="#/client/3"> Sports </a></li>
					<li role="presentation" ng-class="{active: categorie === '4'}"><a class="cat" href="#/client/4"> International </a></li>
				</ul><!-- class nav nav-pills nav-stacked -->
			</div><!--class col-md-12 -->

		</div><!-- class col-md-3 -->

		<div class="col-md-9 text-center">
			<h1><span class="glyphicon glyphicon-book"></span> Latest News</h1>
			
			<!-- All News -->
			<div class="newsContent" ng-hide="showArticle">
				<div id="{{article.id}}" class="media well" ng-repeat="article in articles track by article.id">
					<div class="pull-left media-middle">
						<a>
							<img class="media-object" ng-src="{{article.img_path}}" alt="" width="300" height="200">
						</a>
					</div>
					<div class="media-body">
						<button ng-show="currentUser.role === 'admin'" class="btn btn-danger pull-right" ng-click="delete(article.id)"> Delete </button>
						<h4 class="text-left lead media-heading">{{article.title}}<small><em>—{{article.timestamp}}</em></small></h4>
						<h5 class="text-left"><small><em>by {{article.username}}</em></small></h5>
						<p class="text-justify preview">{{article.content}}</p>
						<a data-toggle="modal" data-target="#myModal" ng-click="readMore(article.id)"  class="btn btn-primary">Read More </a>
					</div>
				</div><!-- class media well -->
			</div><!-- class newsContent -->

			<!-- One News -->
			<div  class="newsContent" ng-show="showArticle">
				<div class="container-fluid jumbotron">
					<button ng-show="currentUser.role === 'admin'" class="btn btn-danger pull-left" ng-click="delete(currentArticle.id)"> Delete </button>
					<a class="btn-lg pull-right" ng-click="closeArticle()" role="button"><span class="glyphicon glyphicon-remove"></span></a>
					<img class="center-block img-circle" ng-src="{{currentArticle.img_path}}" alt="" width="150" height="150">
					<h2 class="lead">{{currentArticle.title}}<em>—{{currentArticle.timestamp}}</em></h2>
					<p class="text-justify">{{currentArticle.content}}</p>
					<cite><em>by {{currentArticle.username}}</em></cite>
				</div>
			</div><!-- class newsContent -->

		</div><!-- class col-md-9 -->

	</div><!-- class row -->

</div><!-- class container -->