<div class="container">

	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label class="control-label sr-only" for="Search"> Looking for a news ? </label>
				<div class="input-group">
					<span class="input-group-addon glyphicon glyphicon-search"></span>
					<input type="search" class="form-control" ng-model="search" name="search" id="search" placeholder="Looking for a news ?">
				</div><!-- class input-group -->
			</div><!-- class form-group -->
		</div><!-- class col-md-6 -->
	</div><!-- class row -->

	<div class="col-md-3 side-bar thumbnail">
		<ul class="nav nav-pills nav-stacked" role="navigation">
			<li class="active" role="presentation"><a> Politics </a></li>
			<li role="presentation"><a> Finance </a></li>
			<li role="presentation"><a> Sports </a></li>
			<li role="presentation"><a> International </a></li>
		</ul><!-- class nav nav-pills nav-stacked -->
	</div><!--class col-md-3 -->

	<div class="col-md-9 text-center">
		<h2><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Latest News </h2>
		

	</div><!-- class col-md-9 -->

</div><!-- class container -->